:root{--side: 50%}

* {box-sizing: border-box;}

body {
  height: var(--vh100, 100vh); /* the 2nd param is a fallback value in case the first is not the defined */
  width: 100vw;
  background-color: cornflowerblue;
  display: flex;
}

.container {
  margin: auto;
  background-color: snow;
  border-radius: 5px;
  height: var(--side);
  width: 90%;
}

#question {
  width: 100%;
  text-align: center;
}